<!--
        - #BANNER
      -->

<section class="section offer" id="offer" aria-label="offer" data-section>
  <div class="container">
    <figure class="offer-banner-1 has-before hover:shine">
      <a href="#"
        ><img
          src="/assets/img/25offeverythingelse.webp"
          loading="lazy"
          alt="offer products"
          class="w-100"
        />
      </a>
    </figure>

    <div class="banner-card banner-card-1 has-before hover:shine">
      <a href="#">
        <div
          class="has-bg-image"
          style="background-image: url('/assets/img/off.webp')"
        ></div>
      </a>
    </div>
  </div>
</section>
