
<div class="bedroom-sideber">
  <div class="bedroom-title text-uppercase">
    <h4>Shopping Options</h4>
    <hr>
  </div>
</div>

<!-- price-slider-area-end -->
<!-- Category-start -->
<div class="category-area-start">
  <div class="caregory" *ngIf="categories">
    <h3 class="bedroom-side-title" >category</h3>
    <ul>
      <li *ngFor="let category of categories" [value]="category">
        <div class="checkbox">
          <label>
            <input type="radio" name="selectedCategory" [checked]="isSelectedCategory(category)" (click)="onShowCategory(category)">
            {{ category }}
          </label>
        </div>
      </li>
      


      <!-- <li><a href="#">Nightstands <span>(5)</span></a></li>
        <li><a href="#">Headboards <span>(67)</span></a></li> -->
    </ul>
  </div>
</div>
<!-- Category-end -->
<!-- .sideber-color-start -->
<div class="sideber-color mt-40">
  <h3 class="bedroom-side-title">Color</h3>
  <ul>
    <li>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Purple <span>(14)</span>
        </label>
      </div>
    </li>
    <li>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Blue <span>(14)</span>
        </label>
      </div>
    </li>
    <li>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Yellow <span>(14)</span>
        </label>
      </div>
    </li>
    <li>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Red <span>(14)</span>
        </label>
      </div>
    </li>


    <!-- <li><a href="#">Nightstands <span>(5)</span></a></li>
        <li><a href="#">Headboards <span>(67)</span></a></li> -->
  </ul>
</div>
<!-- .sideber-color-end -->
<!-- Category-start -->
<div class="category-area-start">
  <div class="caregory manufacturer mt-40">
    <h3 class="bedroom-side-title">Manufacturer</h3>
    <ul>
      <li>
        <div class="checkbox">
          <label>
            <input type="checkbox"> ABC <span>(14)</span>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input type="checkbox"> XHJH <span>(14)</span>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input type="checkbox"> AAAA <span>(14)</span>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input type="checkbox"> HGTGR <span>(14)</span>
          </label>
        </div>
      </li>


      <!-- <li><a href="#">Nightstands <span>(5)</span></a></li>
        <li><a href="#">Headboards <span>(67)</span></a></li> -->
    </ul>
  </div>
