<!--
        - #OFFER
      -->

<section class="section offer" id="offer" aria-label="offer" data-section>
  <div class="container">
    <figure class="offer-banner">
      <img
        src="/assets/img/4.2.webp"
        width="305"
        height="408"
        loading="lazy"
        alt="offer products"
        class="w-100"
      />

      <img
        src="/assets/img/4.1.webp"
        width="450"
        height="625"
        loading="lazy"
        alt="offer products"
        class="w-100"
      />
    </figure>

    <div class="offer-content">
      <p class="offer-subtitle">
        <span class="span">Special Offer</span>

        <span class="badge" aria-label="20% off">-20%</span>
      </p>

      <h2 class="h2-large section-title">The More Good, The Merrier</h2>

      <p class="section-text">
        Help us support women and youth causes with your holiday purchases.
      </p>

      <div class="countdown">
        <span class="time" aria-label="days">15</span>
        <span class="time" aria-label="hours">21</span>
        <span class="time" aria-label="minutes">46</span>
        <span class="time" aria-label="seconds">08</span>
      </div>

      <a href="#" class="btn btn-primary">Get Only $39.00</a>
    </div>
  </div>
</section>

<div class="container">
  <figure class="offer-banner-1">
    <img
      src="./assets/img/101323_BdayPWPBanner_HeroDesktop.webp"
      width="100%"
      height="100%"
      loading="lazy"
      alt="offer products"
      class="w-100"
    />
  </figure>
  <section class="section shop" id="shop" aria-label="shop" data-section>
    <ul class="has-scrollbar">
      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="border-radius: 10px; width: 100%; height: auto"
          >
            <img
              src="./assets/img/gift-cards.png"
              width="540"
              height="720"
              loading="lazy"
              alt=""
              class="img-cover"
            />
          </div>

          <div class="card-content">
            <a href="#" class="btn-link" style="justify-content: space-between">
              <span class="span">Gift Cards</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </div>
      </li>
      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="border-radius: 10px; width: 100%; height: auto"
          >
            <img
              src="./assets/img/returns-exchanges.png"
              width="540"
              height="720"
              loading="lazy"
              alt=""
              class="img-cover"
            />
          </div>

          <div class="card-content">
            <a href="#" class="btn-link" style="justify-content: space-between">
              <span class="span">Free & Easy Returns</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </div>
      </li>
      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="border-radius: 10px; width: 100%; height: auto"
          >
            <img
              src="./assets/img/bopis.png"
              width="540"
              height="720"
              loading="lazy"
              alt=""
              class="img-cover"
            />
          </div>

          <div class="card-content">
            <a href="#" class="btn-link" style="justify-content: space-between">
              <span class="span">Buy Online, Pickup In-Store</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </div>
      </li>
      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="border-radius: 10px; width: 100%; height: auto"
          >
            <img
              src="./assets/img/hgg-giftwrapping.png"
              width="540"
              height="720"
              loading="lazy"
              alt=""
              class="img-cover"
            />
          </div>

          <div class="card-content">
            <a href="#" class="btn-link" style="justify-content: space-between">
              <span class="span">Complimentary Gift Wrapping</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
