<main>
  <article>
    <section class="ContactUs">
      <div class="container">
        <div class="box">
          <div class="contact form">
            <!--Form-->
            <h3>Get in Touch</h3>
            <br />
            <form class="formBox">
              <div class="row50">
                <div class="inputBox">
                  <span>Frist Name</span>
                  <input type="text" placehodler="Your Frist Name" />
                </div>
                <div class="inputBox">
                  <span>Last Name</span>
                  <input type="text" placehodler="Your Last Name" />
                </div>
              </div>

              <div class="row50">
                <div class="inputBox">
                  <span>Email</span>
                  <input type="text" placehodler="Your Frist Name" />
                </div>
                <div class="inputBox">
                  <span>Mobile</span>
                  <input type="text" placehodler="Your Last Name" />
                </div>
              </div>
              <div class="row100">
                <div class="inputBox">
                  <span>Message</span>
                  <textarea placeholder="Write your mesage here"></textarea>
                </div>
              </div>

              <div class="row100">
                <div class="inputBox">
                  <button type="submit" class="btn-primary" aria-label="Send">
                    Send
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!--map-->
          <div class="contact map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.224658949028!2d106.77569557481928!3d10.870510057451698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175277dbf11a271%3A0x4567e34b99494e3f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaW5oIHThur8gLSBMdeG6rXQsIMSQ4bqhaSBo4buNYyBRdeG7kWMgZ2lhIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1700382152411!5m2!1svi!2s"
              style="border: 0; border-radius: 25px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
