<!--
        - #SHOP
      -->

<section class="section shop" id="shop" aria-label="shop" data-section>
  <div class="container">
    <div class="title-wrapper">
      <h2 class="h2 section-title">Our Bestsellers</h2>

      <a href="#" class="btn-link">
        <span class="span">Shop All Products</span>

        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
      </a>
    </div>

    <ul class="has-scrollbar">
      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="--width: 540; --height: 720"
          >
            <img
              src="./assets/img/1.webp"
              width="540"
              height="720"
              loading="lazy"
              alt="Facial cleanser"
              class="img-cover"
            />

            <span class="badge" aria-label="20% off">-20%</span>

            <div class="card-actions">
              <button class="action-btn" aria-label="add to cart">
                <ion-icon
                  name="bag-handle-outline"
                  aria-hidden="true"
                ></ion-icon>
              </button>

              <button class="action-btn" aria-label="add to whishlist">
                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>

              <button class="action-btn" aria-label="compare">
                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
          </div>

          <div class="card-content">
            <div class="price">
              <del class="del">$39.00</del>

              <span class="span">$29.00</span>
            </div>

            <h3>
              <a href="#" class="card-title">Facial cleanser</a>
            </h3>

            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 start rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
              </div>

              <p class="rating-text">5170 reviews</p>
            </div>
          </div>
        </div>
      </li>

      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="--width: 540; --height: 720"
          >
            <img
              src="./assets/img/2.webp"
              width="540"
              height="720"
              loading="lazy"
              alt="Bio-shroom Rejuvenating Serum"
              class="img-cover"
            />

            <div class="card-actions">
              <button class="action-btn" aria-label="add to cart">
                <ion-icon
                  name="bag-handle-outline"
                  aria-hidden="true"
                ></ion-icon>
              </button>

              <button class="action-btn" aria-label="add to whishlist">
                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>

              <button class="action-btn" aria-label="compare">
                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
          </div>

          <div class="card-content">
            <div class="price">
              <span class="span">$29.00</span>
            </div>

            <h3>
              <a href="#" class="card-title">Bio-shroom Rejuvenating Serum</a>
            </h3>

            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 start rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
              </div>

              <p class="rating-text">5170 reviews</p>
            </div>
          </div>
        </div>
      </li>

      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="--width: 540; --height: 720"
          >
            <img
              src="./assets/img/3.webp"
              width="540"
              height="720"
              loading="lazy"
              alt="Coffee Bean Caffeine Eye Cream"
              class="img-cover"
            />

            <div class="card-actions">
              <button class="action-btn" aria-label="add to cart">
                <ion-icon
                  name="bag-handle-outline"
                  aria-hidden="true"
                ></ion-icon>
              </button>

              <button class="action-btn" aria-label="add to whishlist">
                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>

              <button class="action-btn" aria-label="compare">
                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
          </div>

          <div class="card-content">
            <div class="price">
              <span class="span">$29.00</span>
            </div>

            <h3>
              <a href="#" class="card-title">Coffee Bean Caffeine Eye Cream</a>
            </h3>

            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 start rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
              </div>

              <p class="rating-text">5170 reviews</p>
            </div>
          </div>
        </div>
      </li>

      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="--width: 540; --height: 720"
          >
            <img
              src="./assets/img/4.webp"
              width="540"
              height="720"
              loading="lazy"
              alt="Facial cleanser"
              class="img-cover"
            />

            <div class="card-actions">
              <button class="action-btn" aria-label="add to cart">
                <ion-icon
                  name="bag-handle-outline"
                  aria-hidden="true"
                ></ion-icon>
              </button>

              <button class="action-btn" aria-label="add to whishlist">
                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>

              <button class="action-btn" aria-label="compare">
                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
          </div>

          <div class="card-content">
            <div class="price">
              <span class="span">$29.00</span>
            </div>

            <h3>
              <a href="#" class="card-title">Facial cleanser</a>
            </h3>

            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 start rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
              </div>

              <p class="rating-text">5170 reviews</p>
            </div>
          </div>
        </div>
      </li>

      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="--width: 540; --height: 720"
          >
            <img
              src="./assets/img/5.webp"
              width="540"
              height="720"
              loading="lazy"
              alt="Coffee Bean Caffeine Eye Cream"
              class="img-cover"
            />

            <span class="badge" aria-label="20% off">-20%</span>

            <div class="card-actions">
              <button class="action-btn" aria-label="add to cart">
                <ion-icon
                  name="bag-handle-outline"
                  aria-hidden="true"
                ></ion-icon>
              </button>

              <button class="action-btn" aria-label="add to whishlist">
                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>

              <button class="action-btn" aria-label="compare">
                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
          </div>

          <div class="card-content">
            <div class="price">
              <del class="del">$39.00</del>

              <span class="span">$29.00</span>
            </div>

            <h3>
              <a href="#" class="card-title">Coffee Bean Caffeine Eye Cream</a>
            </h3>

            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 start rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
              </div>

              <p class="rating-text">5170 reviews</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="section shop" id="shop" aria-label="shop" data-section>
  <div class="container">
    <div class="title-wrapper">
      <h2 class="h2 section-title">Under $25</h2>

      <a href="#" class="btn-link">
        <span class="span">Shop All Products</span>

        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
      </a>
    </div>

    <ul class="has-scrollbar">
      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="--width: 540; --height: 720"
          >
            <img
              src="./assets/img/1.1.webp"
              width="540"
              height="720"
              loading="lazy"
              alt="Facial cleanser"
              class="img-cover"
            />

            <span class="badge" aria-label="20% off">-20%</span>

            <div class="card-actions">
              <button class="action-btn" aria-label="add to cart">
                <ion-icon
                  name="bag-handle-outline"
                  aria-hidden="true"
                ></ion-icon>
              </button>

              <button class="action-btn" aria-label="add to whishlist">
                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>

              <button class="action-btn" aria-label="compare">
                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
          </div>

          <div class="card-content">
            <div class="price">
              <del class="del">$39.00</del>

              <span class="span">$29.00</span>
            </div>

            <h3>
              <a href="#" class="card-title">Facial cleanser</a>
            </h3>

            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 start rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
              </div>

              <p class="rating-text">5170 reviews</p>
            </div>
          </div>
        </div>
      </li>

      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="--width: 540; --height: 720"
          >
            <img
              src="./assets/img/1.2.webp"
              width="540"
              height="720"
              loading="lazy"
              alt="Bio-shroom Rejuvenating Serum"
              class="img-cover"
            />

            <div class="card-actions">
              <button class="action-btn" aria-label="add to cart">
                <ion-icon
                  name="bag-handle-outline"
                  aria-hidden="true"
                ></ion-icon>
              </button>

              <button class="action-btn" aria-label="add to whishlist">
                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>

              <button class="action-btn" aria-label="compare">
                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
          </div>

          <div class="card-content">
            <div class="price">
              <span class="span">$29.00</span>
            </div>

            <h3>
              <a href="#" class="card-title">Bio-shroom Rejuvenating Serum</a>
            </h3>

            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 start rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
              </div>

              <p class="rating-text">5170 reviews</p>
            </div>
          </div>
        </div>
      </li>

      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="--width: 540; --height: 720"
          >
            <img
              src="./assets/img/1.3.webp"
              width="540"
              height="720"
              loading="lazy"
              alt="Coffee Bean Caffeine Eye Cream"
              class="img-cover"
            />

            <div class="card-actions">
              <button class="action-btn" aria-label="add to cart">
                <ion-icon
                  name="bag-handle-outline"
                  aria-hidden="true"
                ></ion-icon>
              </button>

              <button class="action-btn" aria-label="add to whishlist">
                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>

              <button class="action-btn" aria-label="compare">
                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
          </div>

          <div class="card-content">
            <div class="price">
              <span class="span">$29.00</span>
            </div>

            <h3>
              <a href="#" class="card-title">Coffee Bean Caffeine Eye Cream</a>
            </h3>

            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 start rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
              </div>

              <p class="rating-text">5170 reviews</p>
            </div>
          </div>
        </div>
      </li>

      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="--width: 540; --height: 720"
          >
            <img
              src="./assets/img/1.4.webp"
              width="540"
              height="720"
              loading="lazy"
              alt="Facial cleanser"
              class="img-cover"
            />

            <div class="card-actions">
              <button class="action-btn" aria-label="add to cart">
                <ion-icon
                  name="bag-handle-outline"
                  aria-hidden="true"
                ></ion-icon>
              </button>

              <button class="action-btn" aria-label="add to whishlist">
                <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
              </button>

              <button class="action-btn" aria-label="compare">
                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
          </div>

          <div class="card-content">
            <div class="price">
              <span class="span">$29.00</span>
            </div>

            <h3>
              <a href="#" class="card-title">Facial cleanser</a>
            </h3>

            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 start rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
              </div>

              <p class="rating-text">5170 reviews</p>
            </div>
          </div>
        </div>
      </li>

      <li class="scrollbar-item">
        <div class="shop-card">
          <div
            class="card-banner img-holder"
            style="--width: 540; --height: 720"
          >
            <img
              src="./assets/img/1.5.webp"
              width="540"
              height="720"
              loading="lazy"
              alt="Coffee Bean Caffeine Eye Cream"
              class="img-cover"
            />

            <span class="badge" aria-label="20% off">-20%</span>

            <div class="card-actions">
              <button class="action-btn" aria-label="add to cart">
                <ion-icon
                  name="bag-handle-outline"
                  aria-hidden="true"
                ></ion-icon>
              </button>

              <button class="action-btn" aria-label="add to whishlist">
                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>

              <button class="action-btn" aria-label="compare">
                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
          </div>

          <div class="card-content">
            <div class="price">
              <del class="del">$39.00</del>

              <span class="span">$29.00</span>
            </div>

            <h3>
              <a href="#" class="card-title">Coffee Bean Caffeine Eye Cream</a>
            </h3>

            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 start rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star" aria-hidden="true"></ion-icon>
              </div>

              <p class="rating-text">5170 reviews</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
