<!--
        - #COLLECTION
      -->

<section
  class="section collection"
  id="collection"
  aria-label="collection"
  data-section
>
  <div class="container">
    <ul class="collection-list">
      <li>
        <div class="collection-card has-before hover:shine">
          <h2 class="h2 card-title">Summer Collection</h2>

          <p class="card-text">Starting at $17.99</p>

          <a href="#" class="btn-link">
            <span class="span">Shop Now</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>

          <div
            class="has-bg-image"
            style="
              background-image: url('/assets/img/ColorBar_EarringStone_1.gif');
            "
          ></div>
        </div>
      </li>

      <li>
        <div class="collection-card has-before hover:shine">
          <h2 class="h2 card-title">What’s New?</h2>

          <p class="card-text">Get the glow</p>

          <a href="#" class="btn-link">
            <span class="span">Discover Now</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>

          <div
            class="has-bg-image"
            style="background-image: url('/assets/img/linkingGIF.webp')"
          ></div>
        </div>
      </li>

      <li>
        <div class="collection-card has-before hover:shine">
          <h2 class="h2 card-title">Buy 1 Get 1</h2>

          <p class="card-text">Starting at $7.99</p>

          <a href="#" class="btn-link">
            <span class="span">Discover Now</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>

          <div
            class="has-bg-image"
            style="background-image: url('/assets/img/ColorBar_Gameday.webp')"
          ></div>
        </div>
      </li>
    </ul>
  </div>
</section>
