<main>
    <article>
      <section style="padding-bottom: 20px">
        <center>
        <div class="container">
          <div class="checkout-panel">
            <div class="panel-body">
              <h2 class="title">Checkout here!</h2>
  
              <div class="progress-bar">
                <div class="step active"></div>
                <div class="step active"></div>
                <div class="step active"></div>
                <div class="step active"></div>
              </div>
  
              <img src="https://images.squarespace-cdn.com/content/v1/5806ec038419c29b9187cc2b/1535941471036-50OPAXHY2CBPKTZQ2RPL/ke17ZwdGBToddI8pDm48kL2RXeg1pfhKEUOVWeEY6-AUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcHqpiYMSyvrdP-0SAQ36MiUPx3rOM05vbnHz3QNpBg_-bLq9HngwVJFHVrh8wl9VZ/hooray.jpg" class="gif">
              <div class="msg">
              <h2>Your order is complete</h2>
              <p>You will receive a confirmation email with order details.</p>
              </div>
              <button class="btn-link btn-primary" routerLink="/products">
                Continue to shopping
            </button>
              </div>
              
            </div>
            
        </div>
        
    </center>
      </section>
    </article>
  </main>
  