<!--
        - #BLOG
      -->

<section class="section blog" id="blog" aria-label="blog" data-section>
  <div class="container">
    <h2 class="h2-large section-title">More to Discover</h2>

    <ul class="flex-list">
      <li class="flex-item">
        <div class="blog-card">
          <figure
            class="card-banner img-holder has-before hover:shine"
            style="--width: 700; --height: 450"
          >
            <img
              src="./assets/img/store.jpg"
              width="700"
              height="450"
              loading="lazy"
              alt="Find a Store"
              class="img-cover"
            />
          </figure>

          <h3 class="h3">
            <a href="#" class="card-title">Find a Store</a>
          </h3>

          <a href="#" class="btn-link">
            <span class="span">Our Store</span>

            <ion-icon
              name="arrow-forward-outline"
              aria-hidden="true"
            ></ion-icon>
          </a>
        </div>
      </li>

      <li class="flex-item">
        <div class="blog-card">
          <figure
            class="card-banner img-holder has-before hover:shine"
            style="--width: 700; --height: 450"
          >
            <img
              src="./assets/img/blog-2.jpg"
              width="700"
              height="450"
              loading="lazy"
              alt="From Our Blog"
              class="img-cover"
            />
          </figure>

          <h3 class="h3">
            <a href="#" class="card-title">From Our Blog</a>
          </h3>

          <a href="#" class="btn-link">
            <span class="span">Our Store</span>

            <ion-icon
              name="arrow-forward-outline"
              aria-hidden="true"
            ></ion-icon>
          </a>
        </div>
      </li>

      <li class="flex-item">
        <div class="blog-card">
          <figure
            class="card-banner img-holder has-before hover:shine"
            style="--width: 700; --height: 450"
          >
            <img
              src="./assets/img/blog-3.jpg"
              width="700"
              height="450"
              loading="lazy"
              alt="Our Story"
              class="img-cover"
            />
          </figure>

          <h3 class="h3">
            <a href="#" class="card-title">Our Story</a>
          </h3>

          <a href="#" class="btn-link">
            <span class="span">Our Store</span>

            <ion-icon
              name="arrow-forward-outline"
              aria-hidden="true"
            ></ion-icon>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
