<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="../../../assets/images/pngtree-beautiful-admin-roles-gl.png" width="50px"
        alt="User Image">
      <div>
        <p class="app-sidebar__user-name"><b>Admin</b></p>
        <p class="app-sidebar__user-designation">Welcome back</p>
      </div>
    </div>
    <hr>
    <ul class="app-menu">
      <li><a class="app-menu__item" routerLink="home"><i class='app-menu__icon bx bx-task'></i><span
            class="app-menu__label">Home</span></a></li>
      <li><a class="app-menu__item" routerLink="list-orders"><i class='app-menu__icon bx bx-tachometer'></i><span
            class="app-menu__label">Order</span></a></li>
      <li><a class="app-menu__item" routerLink="list-products"><i
            class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Product</span></a>
      </li>

      <li><a class="app-menu__item" href="quan-ly-bao-cao.html"><i
            class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Report </span></a>
      </li>
      <li><a class="app-menu__item" href="#"><i class='app-menu__icon bx bx-cog'></i><span class="app-menu__label">
            System</span></a></li>
    </ul>
  </aside>