<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Jewelry Collection, About Collection, 70% of Select Gold Clearance, We Love Our Clients, New Collection, New Arrivals, Free Delivery, Where To Buy, MILAN, IBIZA">
    <meta name="description" content="">
    <title>Document</title>

</head>
<body>
    <h1 style="text-align: center; font-family: 'Lora';"><b>Welcome to Chérir Blog </b></h1>

    <table style="width: 100%;">
        <tr>
            <td style="padding: 30px;">
                <div class="col-md-4 col-sm-6">
                    <article class="blog-item">
                        <div>
                            <div class="img-box">
                                <img src="https://file.hstatic.net/1000112469/article/anh_up_blog_dee03376d76444c9886d36df27e731a0.jpg" style="width: 100%;">
                            </div>
                            <div class="blog-item-info">
                                <div class="date">26/11/2023</div>
                                <h3 class="blog-item-name"><a href="#" style=" text-decoration: none; color: black">10+ QUÀ TẶNG SINH NHẬT CAO CẤP, Ý NGHĨA NHẤT CHO MỌI ĐỐI TƯỢNG</a></h3>
                                <p class="blog-item-summary">Trong 365 ngày của một năm, ngày sinh nhật được xem là dịp đặc biệt đối với mỗi người.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </td>
            <td style="padding: 30px;">
                <div class="col-md-4 col-sm-6">
                    <article class="blog-item">
                        <div>
                            <div class="img-box">
                                <img src="https://file.hstatic.net/1000112469/article/banner_blog_79da512a7aef4c8e8f2beee65a9c118b.jpg" style="width: 100%;">
                            </div>
                            <div class="blog-item-info">
                                <div class="date">25/11/2023</div>
                                <h3 class="blog-item-name"><a href="#" style=" text-decoration: none; color: black;">TÁC DỤNG KHÔNG TƯỞNG CỦA BẠC 925 SẼ LÀM BẠN BẤT NGỜ </a></h3>
                                
                                <p class="blog-item-summary">Trời ơi đọc qua bài này mới biết bạc 925 có nhiều tác dụng đến vậy và có cả cách đeo bạc đoán bệnh nữa nha!</p>
                            </div>
                        </div>
                    </article>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding: 30px;">
                <div class="col-md-4 col-sm-6">
                    <article class="blog-item">
                        <div>
                            <div class="img-box">
                                <img src="https://suckhoedoisong.qltns.mediacdn.vn/Images/thanhloan/2018/03/17/di-ung-da-do-deo-trang-suc-kim-loai-phai-lam-sao-1.jpg" style="width: 100%;">
                            </div>
                            <div class="blog-item-info">
                                <div class="date">24/11/2023</div>
                                <h3 class="blog-item-name"><a href="#" style=" text-decoration: none; color: black">DỊ ỨNG BẠC TỪ ĐÂU, NGUYÊN NHÂN CÓ PHẢI DO BẠC?</a></h3>
                                <p class="blog-item-summary">Những nhầm lẫn về bạc làm bạn bị dị ứng? Hoặc đeo bạc bị ngứa? Bài viết đã giải thích rõ được những thắc mắc về bạc 925 và tại sao bạn bị dị ứng!!! Hãy nhấp vào đây để đọc thêm những kiến thức về bạc nhaaaa</p>
                            </div>
                        </div>
                    </article>
                </div>
            </td>
            <td style="padding: 30px;">
                <div class="col-md-4 col-sm-6">
                    <article class="blog-item">
                        <div>
                            <div class="img-box">
                                <img src="https://1.bp.blogspot.com/-fGsMN4mvNNQ/X1-DGx37X8I/AAAAAAAAQNI/R-BQOOZ42WIIXRwLj0pzyCExbgtJUD8wQCLcBGAsYHQ/w640-h360/b%25E1%25BA%25A3o%2Bqu%25E1%25BA%25A3n%2Bv%25E1%25BB%2587%2Bsinh%2Bv%25C3%25A0%2B%25C4%2591eo%2Btrang%2Bs%25E1%25BB%25A9c%2Bth%25C6%25B0%25E1%25BB%259Dng%2Bxuy%25C3%25AAn%2B-%2BYsilver.jpg" style="width: 100%;">
                            </div>
                            <div class="blog-item-info">
                                <div class="date">22/11/2023</div>
                                <h3 class="blog-item-name"><a href="#" style=" text-decoration: none; color: black;">BẢO QUẢN TRANG SỨC BẠC</a></h3>
                                
                                <p class="blog-item-summary">Bạn nào thích đeo bạc nhưng chưa biết cách bảo quản đúng thì bài viết này rất hữu dụng đấy nhé ^^. Còn chờ gì nữa mà không bấm vào để biết cách bảo quản cực dễ dàng nè !!!!</p>
                            </div>
                        </div>
                    </article>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding: 30px;">
                <div class="col-md-4 col-sm-6">
                    <article class="blog-item">
                        <div>
                            <div class="img-box">
                                <img src="https://file.hstatic.net/1000112469/article/banner_blog_79da512a7aef4c8e8f2beee65a9c118b.jpg" style="width: 100%;">
                            </div>
                            <div class="blog-item-info">
                                <div class="date">20/10/2023</div>
                                <h3 class="blog-item-name"><a href="#" style=" text-decoration: none; color: black">GỢI Ý QUÀ TẶNG 20/10 VỪA TINH TẾ VỪA KINH TẾ</a></h3>
                                <p class="blog-item-summary">20/10 là một ngày lễ đặc biệt nhằm tôn vinh các chị em phụ nữ Việt Nam. Đây cũng chính là dịp người Việt bày tỏ lòng biết ơn, sự quan tâm đến những người phụ nữ bằng cách tặng quà, tổ chức các hoạt động, thể hiện tình cảm với mẹ, với vợ, với chị em...</p>
                            </div>
                        </div>
                    </article>
                </div>
            </td>
            <td style="padding: 30px;">
                <div class="col-md-4 col-sm-6">
                    <article class="blog-item">
                        <div>
                            <div class="img-box">
                                <img src="https://file.hstatic.net/1000112469/article/anh_up_blog_dee03376d76444c9886d36df27e731a0.jpg" style="width: 100%;">
                            </div>
                            <div class="blog-item-info">
                                <div class="date">18/10/2023</div>
                                <h3 class="blog-item-name"><a href="/qua-tang-sinh-nhat-cao-cap" style=" text-decoration: none; color: black;">NÊN MUA NHẪN CƯỚI BAO NHIÊU TIỀN LÀ HỢP LÝ?</a></h3>
                                
                                <p class="blog-item-summary">Các cặp đôi quan niệm rằng chuyện hôn sự là chuyện cả đời, vì thế mọi thứ diễn ra trong ngày trọng đại phải thật chu toàn và trọn vẹn nhất. Điều tất nhiên để chuẩn bị được...</p>
                            </div>
                        </div>
                    </article>
                </div>
            </td>
        </tr>
        
        
    </table>
    
            

</body>
</html>