<div class="o-container" style="background-image: url(../../assets/img/bg.png);">
    <div class="left">
        <div class="slogan">
                <div>Your Crystal</div>
                <div style="padding-left: 180px;"> Your Style</div>
            </div>
        <p> 
            Our jewelry is not just a piece of ornament but a manifestation of the wearer is individuality and distinct style. It helps the wearer make an undeniable and standout mark in the eyes of others.
        </p>
        </div>
    <div class="right">

    </div>
</div>

<div class="ach-container-bg">
    <h1>Brand Power</h1>
        <p>
        We would be delighted to help you create your very own jewellery experience, 
        from the selection of jewellery to unique presentation ideas.
    </p> 
</div>

<div class="ach-container">
    <div>
        <img src="assets/img/d.jpg">
        <p>PRECISION</p>
    </div>
    <div>
        <img src="assets/img/unique.jpg">
        <p>UNIQUE</p>
    </div>
    <div>
        <img src="assets/img/abc.jpg">
        <p>CLEVER</p>
    </div>
    <div>
        <img src="assets/img/trang sức.jpg">
        <p>VIBRANT</p>
    </div>
    
</div>
<div class="ach-button" align ="center">
    <button onclick= "javascript:window.open('https://uel.edu.vn')">READ MORE</button>
</div>

<div class="cho-container-bg">
<h1>Why Choose Us</h1>
<div class="cho-container" >
    <div>
        <img src="assets/img/ring.png" >
        <p class="bold">Product Diverse</p>
    </div>
    <div>
        <img src="assets/img/quantity.png">
        <p class="bold">High Quantity</p>
        
    </div>
    <div>
        <img src="assets/img/services.png">
        <p class="bold">Services 24/24</p>
        
    </div>
    <div>
        <img src="assets/img/deliver.png">
        <p class="bold">Fast Delivery</p>
        
    </div>
    <div>
        <img src="assets/img/cards.png">
        <p class="bold">Easy Payment</p>
        
    </div>
</div>
</div>




<div class="mv-container">
    <div style=" text-align: right;" >
        <p class="mission">Mision</p>
        Our mission is to empower individuals to express their unique style and personality through our exquisite jewelry.
        <br> 
        <br>
        We are committed to creating high-quality, ethically sourced pieces that not only enhance beauty but also inspire confidence and individuality
    </div>

    <div>
    <img src ="assets/img/m.jpg" height="400px" >  
    </div>
</div>
<div class="mv-container">
    <div>
        <img src ="assets/img/v.jpg" height="400px" >  
        </div>
    <div style = "text-align: left;">
        <p class="mission">Vision</p>
    <p>    
        Our vision is to be the world's leading jewelry brand that celebrates individuality and self-expression. 
        <br>
        <br>
        We envision a future where everyone, regardless of their background or style, can find a piece of jewelry that resonates with them and helps them tell their story
    </p>
    </div>
</div>