<!--
        - #FEATURE
      -->

<section class="section feature" aria-label="feature" data-section>
  <div class="container">
    <h2 class="h2-large section-title">Why Shop with Chérir?</h2>

    <ul class="flex-list">
      <li class="flex-item">
        <div class="feature-card">
          <center>
            <ion-icon
              name="chatbubbles-outline"
              style="font-size: 7em"
            ></ion-icon>
          </center>

          <h3 class="h3 card-title">Support 24/7</h3>

          <p class="card-text">
            Our team of highly trained non-commissioned jewelry professionals
            are here to help 24/7.
          </p>
        </div>
      </li>

      <li class="flex-item">
        <div class="feature-card">
          <center>
            <ion-icon name="gift-outline" style="font-size: 7em"></ion-icon>
          </center>

          <h3 class="h3 card-title">Daily surprise offer</h3>

          <p class="card-text">
            We want you to absolutely love what you purchase. Shop online
            risk-free with 30 day returns!
          </p>
        </div>
      </li>

      <li class="flex-item">
        <div class="feature-card">
          <center>
            <ion-icon
              name="construct-outline"
              style="font-size: 7em"
            ></ion-icon>
          </center>

          <h3 class="h3 card-title">Repair</h3>

          <p class="card-text">
            Our facilities are equipped and staffed to ensure that we can handle
            any jewelry repair service.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
