<!-- #HERO -->
<section class="section hero" id="home" aria-label="hero" data-section>
  <div class="container">
    <ul class="has-scrollbar">
      <li class="scrollbar-item" id="item1">
        <div
          class="hero-card has-bg-image"
          style="background-image: url('/assets/img/1.png')"
        >
          <div class="card-content">
            <h1 class="h1 hero-title">Vintage Vibes <br /></h1>

            <p class="hero-text">
              They’re your favorite Kendra Scott staples, now in vintage metals.
              Artfully oxidized metals give these styles a tried-and-true feel
              from the very first wear.
            </p>

            <p class="price">Starting at $7.99</p>

            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </li>

      <li class="scrollbar-item" id="item2">
        <div
          class="hero-card has-bg-image"
          style="background-image: url('/assets/img/2.png')"
        >
          <div class="card-content">
            <h1 class="h1 hero-title">New Yellow Rose <br /></h1>

            <p class="hero-text">
              Simple and sophisticated. Whether you stack it or wear it solo,
              this glittering ring is designed to catch some serious attention.
            </p>

            <p class="price">Starting at $7.99</p>

            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </li>

      <li class="scrollbar-item" id="item3">
        <div
          class="hero-card has-bg-image"
          style="background-image: url('/assets/img/3.png')"
        >
          <div class="card-content">
            <h1 class="h1 hero-title">It’s Your Lucky</h1>

            <p class="hero-text">
              These styles feature an elegant take on the horseshoe shape and
              subtle stone details for a pop of color. Everything will be coming
              up roses when you rock these lucky pieces.
            </p>

            <p class="price">Starting at $7.99</p>

            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </li>
    </ul>

    <div class="buttons">
      <button id="prev"><ion-icon name="arrow-back-outline"></ion-icon></button>
      <button id="next">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </button>
    </div>
  </div>
</section>
